.panel-container {
    background-color: rgb(210, 210, 210);
    width: 80%;
    margin: auto;
    height: 25rem;
    display: flex;
    flex-wrap: wrap; /* Los elementos flexibles se "rompan" en múltiples líneas cuando no caben en una sola */
    gap: 0.5rem; /* Espacio entre los elementos flexibles para que no estén pegados*/
    padding: 1rem;
    align-content: center;
    justify-content: center;
    border-radius: 8px;
    border:  0.65rem solid gold;
}
.cabecera {
    text-align: center;
    width: 100%;
}

.titulo-panel {
    margin: auto;
    padding: 2rem;
}
.palabra {
    display: inline-flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.espacio-palabra {
    width: 1rem;
}
.letra {
    flex: 0 1 auto; 
}

.letra img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.espacio {
    width: 4rem;
}